
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-image:url('../img/ozadje.png');
	background-repeat:repeat;
	font-family: 'Oswald', sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
#header {
	width: 100%;
	height: 90px;
	background-color: #484848;
	font-weight: normal;
	font-size: 14px;
	margin: auto;
}

#header_box {
	width: 100%;
	margin: auto;
	max-height: 180px;
}

#nav{
	width: 90%;
	height: auto;
	padding-top: 50px;
	margin: auto;
}

#content{
	width: 90%;
	margin: auto;
	min-height: 180px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#slider{
	width:100%;
	margin: auto;
}

#footer{
	width: 100%;
	height: 215px;
	background-image: url('../img/footer.png');
	bottom: 0;
	left: 0;
	
}

#footer_box{
	width: 100%;
	margin: auto;
}



#priporocamo{
	width: 100%;
	background: url('../img/oranzna.png') no-repeat;
}

#najbolj_prodajano{
	width: 100%;
	background: url('../img/modra.png') no-repeat;
	height:93px;
}

#certifikati{
	width: 100%;
	background: url('../img/green.png') no-repeat;
	height:93px;
	}

#postani_clan{
	width: 100%;
	background: url('../img/gray.png') no-repeat;
	height:93px;
}

.font_footer{
	font-family: 'Oswald', sans-serif;
	font-size: 229%;
	color: #ffffff;
}

.loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .1) url('../img/loading.gif') 50% 50% no-repeat;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
